<h2>카테고리</h2>
관심있는 주제별로 모임을 찾아보세요.


<div style="display:inline">
    <ul>
        <li *ngFor="let category of this.moimService.allCategories">
            <div style="float:left; width:30%;">
                <div class="card" style="width: 18rem;">
                    <a routerLink="/category/{{category.data().engName}}">
                        <img src="{{category.data().img}}" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <p class="card-text">{{category.data().korName}}</p>
                    </div>
                </div>
            </div>

            <!-- <a routerLink="/category/{{category.data().engName}}">
            #{{category.data().korName}}
        </a> -->
        </li>
    </ul>
</div>
<!-- <ul>
    <li routerLink="/category/{{category.data().engName}}" *ngFor = "let category of categories"> #{{category.data().korName}} </li>
</ul> -->