<main role="main" class="container">
    <br>
    <br>
    <br>
    <div class="py-5 text-center">
        <br>
        <p class="heading">멋진 공간을 등록해주세요.</p>
    </div>


    <form [formGroup]="this.placeService.form">
        <div>
            <input type="text" class="form-control" formControlName="location"
                placeholder="위치를 입력해주세요(예: 인천광역시 미추홀구 인하로 100)" required>
            <br>
            <input type="text" class="form-control" formControlName="place" placeholder="상세 위치를 입력해주세요(예: 그라지에 인하대점)"
                required>
        </div>
        <div>
            <br>
            <input type="text" class="form-control" formControlName="time" placeholder="가능한시간을 자유롭게 입력해주세요! (매주 월요일 7~10시, 8월 23일 10시~13시 등)">
            <br>
        </div>

        <div>
            <textarea class="form-control" formControlName="contents" rows="10" placeholder="공간에 대한 소개와 간단하게 어떤 형태의 모임을 원하시는지 적어주세요!"></textarea>
        </div>
<br>
        <div class="custom-file">
            <br>
            <input #img type="file" class="custom-file-input" id="customFile" (change)="updateFile($event)"
                accept=".png,.jpg" multiple>
            <label class="custom-file-label" for="customFile" id="file_route">{{img.value}}</label>
        </div>
        <br>
    
        <br>
        <!-- 제출 버튼 -->
        <div class="submit-button">
            <button type="submit" class="btn btn-secondary btn-block" (click)="onSubmit()">등록하기</button>
        </div>

        <br>
        <br>
    </form>
</main>