<main role="main" class="container center_div">
    <br><Br>
    <div>
        <form [formGroup]="userInfo">

            <div style="align-content: center">
                <h2>정보를 입력해주세요.</h2>

                <div class="container">
                    <label>프로필 사진</label><br>
                    <label class="hoverable" for="fileInput">
                        <img
                            [src]="url ? url : 'https://firebasestorage.googleapis.com/v0/b/test-38218.appspot.com/o/user%2Fuser.png?alt=media&token=811174cc-98ee-4f4f-bb59-f06bc405e92f'">
                        <div class="hover-text">Choose file</div>
                        <div class="background"></div>
                    </label>
                    <br />
                    <input id="fileInput" type='file' (change)="onSelectFile($event)">
                    <button *ngIf="url" (click)="delete()">지우기</button>
                </div>

                <div>
                    <div>
                        <label>이메일</label><br>
                        <input type="email" class="form-control" formControlName="email" placeholder="이메일@bindus.com"
                            required>
                    </div>
                    <br>
                    <div>
                        <label>비밀번호</label><br>
                        <input type="password" class="form-control" formControlName="password" placeholder="비밀번호"
                            required>
                    </div>
                </div>
                <br>
                <div>
                    <div>
                        <label>이름 </label><br>
                        <input type="text" class="form-control" formControlName="name" placeholder="이름을 입력해주세요."
                            required>
                    </div>
                    <br>
                </div>
                <!-- 
      <div class="radio">
                    <label>성별</label><br>
                    <label class="radio-inline"><input class="form-control" type="radio" name="gender"
                            formControlName="gender" value="male" required> 남</label>
                    <label class="radio-inline">
                        <input class="form-control" type="radio" name="gender" formControlName="gender" value="female"
                            required>여</label>
                </div><br> -->

                <div>
                    <label class="radio-inline">
                        <input type="radio" formControlName="gender" value="male" name="gender" required>남
                    </label>
                    <label class="radio-inline">
                        <input type="radio" formControlName="gender" value="female" name="gender" required>여
                    </label>

                </div><br>



                <div>
                    <label>생년월일</label><br>
                    <div>
                        <input class="form-control" name="birthYear" formControlName="birthYear" maxlength="4"
                            minlength="4" pattern="^(19[0-8][0-9]|199[0-9]|20[0-1][0-9])$" placeholder="년도" type="text"
                            required>
                    </div>
                    <div>
                        <select name="birthMonth" formControlName="birthMonth" required="" type="select"
                            class="form-control">
                            <option class="jsx-1373639914">1</option>
                            <option class="jsx-1373639914">2</option>
                            <option class="jsx-1373639914">3</option>
                            <option class="jsx-1373639914">4</option>
                            <option class="jsx-1373639914">5</option>
                            <option class="jsx-1373639914">6</option>
                            <option class="jsx-1373639914">7</option>
                            <option class="jsx-1373639914">8</option>
                            <option class="jsx-1373639914">9</option>
                            <option class="jsx-1373639914">10</option>
                            <option class="jsx-1373639914">11</option>
                            <option class="jsx-1373639914">12</option>
                        </select>
                    </div>
                    <div>
                        <select name="birthDate" formControlName="birthDate" required="" type="select"
                            class="form-control">
                            <option class="jsx-1373639914">1</option>
                            <option class="jsx-1373639914">2</option>
                            <option class="jsx-1373639914">3</option>
                            <option class="jsx-1373639914">4</option>
                            <option class="jsx-1373639914">5</option>
                            <option class="jsx-1373639914">6</option>
                            <option class="jsx-1373639914">7</option>
                            <option class="jsx-1373639914">8</option>
                            <option class="jsx-1373639914">9</option>
                            <option class="jsx-1373639914">10</option>
                            <option class="jsx-1373639914">11</option>
                            <option class="jsx-1373639914">12</option>
                            <option class="jsx-1373639914">13</option>
                            <option class="jsx-1373639914">14</option>
                            <option class="jsx-1373639914">15</option>
                            <option class="jsx-1373639914">16</option>
                            <option class="jsx-1373639914">17</option>
                            <option class="jsx-1373639914">18</option>
                            <option class="jsx-1373639914">19</option>
                            <option class="jsx-1373639914">20</option>
                            <option class="jsx-1373639914">21</option>
                            <option class="jsx-1373639914">22</option>
                            <option class="jsx-1373639914">23</option>
                            <option class="jsx-1373639914">24</option>
                            <option class="jsx-1373639914">25</option>
                            <option class="jsx-1373639914">26</option>
                            <option class="jsx-1373639914">27</option>
                            <option class="jsx-1373639914">28</option>
                            <option class="jsx-1373639914">29</option>
                            <option class="jsx-1373639914">30</option>
                            <option class="jsx-1373639914">31</option>
                        </select>
                    </div>
                </div>
            </div>
            <br><br>
            <div>
                <label>자신을 나타내는 키워드를 입력해주세요!</label><br>
                <tag-input formControlName="hashtag" secondaryPlaceholder="(최대3개)" placeholder="+"
                    [modelAsStrings]="true" (onRemove)="onItemRemoved($event)" (onAdd)="onTagSelected($event)"
                    [maxItems]='3'></tag-input>
            </div>

            <div><br>
                <div class="submit-button">
                    <button class="btn btn-secondary btn-block" type="submit"
                        (click)="onSubmit(userInfo.value)">회원가입하기</button>
                </div>
            </div>
        </form>
    </div>

</main>