<div style="align-content: center">
    <h2>회원가입</h2>
    <div><label>이메일<br>
        <input type="email" placeholder="이메일을 입력해주세요.">
    </label>
    </div>
    <small><br>실제 사용하시는 이메일을 등록해주세요!<br>잘못된 이메일 주소로 가입하실 경우 일부 기능을 이용하지 못하실 수 있습니다.
    </small><br><br>

    <label>비밀번호<br>
        <input type="password" placeholder="비밀번호를 입력해주세요.">
    </label>
    <small><br>비밀번호는 8~16자, 영문, 숫자, 특수문자를 포함해야 합니다.</small><br><br>

    <label>비밀번호 확인<br>
        <input type="password" placeholder="이메일을 입력해주세요.">
    </label>
    <small><br>비밀번호를 다시 입력해주세요.</small><br><br>

    <label>이름<br>
        <input type="text" placeholder="이름을 입력해주세요.">
    </label><br><br>

    <label>성별</label><br>
    <label><input type="radio" name="gender" value="male">남</label>
    <label><input type="radio" name="gender" value="female">여</label>



</div>