<form [formGroup]="brdSample">
    <div>
        <input type="text" class="form-control" formControlName="brdTitle" placeholder="Please enter title" required>
        <br>
    </div>


    <div class="form-group">
        <textarea class="form-control" rows="10" placeholder="작성해주세요." formControlName="brdContents"></textarea>
    </div>
    <div class="custom-file">
        <input #img type="file" class="custom-file-input" id="customFile" (change)="updateFile($event)" accept=".png,.jpg" multiple>
        <!-- <label class="custom-file-label" for="customFile" id="file_route">{{img.value}}</label> -->
    </div>


    <br><br>

    <!-- 제출 버튼 -->
    <div class="submit-button">
        <button type="submit" class="btn btn-secondary btn-block" (click)="onSubmit()">SUBMIT</button>
    </div>


</form>