
<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <td style="padding-left:0px; padding-right:0px; text-align:center" >No.</td>
            <td>Name</td>
            <td>Title</td>
            <td>Time</td>
            <!-- <td>Salary</td> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items | paginate: config; let idx=index" >
            <td style="padding-left:0px; padding-right:0px; text-align:center">{{idx+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.brdTitle}}</td> 
            <td>{{item.brdTime}}</td>
            <!-- <td>{{emp.employee_age}}</td> -->
        </tr>
    </tbody>
</table>



<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>