<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table class="table table-bordered table-striped">
                    <thead class="thead-light">
                        <tr class="table100-head">
                            <td style="width:10%">No.</td>
                            <td  style="width:10%">Name</td>
                            <td  style="width:60%">Title</td>
                            <td  style="width:20%">Date</td>
                            <!-- <td>Salary</td> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of this.boardService.items | paginate: config; let idx=index">
                            <td  style="padding-left:0px; padding-right:0px; text-align:center">{{idx+1}}
                            </td>
                            <td  style="text-align:center">{{item.data().name}}</td>
                            <td routerLink="/board/{{item.id.substring(0,6)}}">{{item.data().brdTitle}} </td>
                            <td > {{item.data().brdTime.seconds * 1000 | date:'yyyy-MM-dd hh:mm a'}}</td>
                            <!-- <td>{{emp.employee_age}}</td> -->
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>


<!-- 
<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <td style="padding-left:0px; padding-right:0px; text-align:center">No.</td>
            <td>Name</td>
            <td>Date</td>
            <td>Title</td>
             <td>Salary</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items | paginate: config; let idx=index">
            <td style="padding-left:0px; padding-right:0px; text-align:center">{{idx+1}}</td>
            <td>{{item.data().name}}</td>
            <td>{{item.data().brdTime.seconds * 1000 | date:'yyyy-MM-dd hh:mm a'}}</td>
            <td routerLink="/board/{{item.id.substring(0,6)}}">{{item.data().brdTitle}}</td>
                <td>{{emp.employee_age}}</td> 
        </tr>
    </tbody>
</table>

-->