<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table class="table table-bordered table-striped">
                    <thead class="thead-light">
                        <tr class="table100-head">
                            <td style="width:10%">No.</td>
                            <td  style="width:10%">Name</td>
                            <td  style="width:60%">Title</td>
                            <td  style="width:20%">Date</td>
                            <!-- <td>Salary</td> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items | paginate: config; let idx=index">
                            <td  style="padding-left:0px; padding-right:0px; text-align:center">{{idx+1}}
                            </td>
                            <td  style="text-align:center">{{item.name}}</td>
                            <td >{{item.brdTitle}} </td>
                            <td > {{item.brdTime.seconds * 1000 | date:'yyyy-MM-dd hh:mm a'}}</td>

                            <!-- <td>{{emp.employee_age}}</td> -->
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>