<main role="main" class="container">
    <br><Br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="card text-center col-md-4">
            <br>
            <p>Login with Email</p>
            <br>
            <form [formGroup]="loginForm">
                <div>
                    <input type="email" class="form-control" formControlName="email" placeholder="이메일@bindus.com"
                        required>
                    <br>
                    <input type="password" class="form-control" formControlName="password" placeholder="비밀번호" required>
                </div>
                <div>
                    <label class="error">{{errorMessage}}</label>
                    <label class="success">{{successMessage}}</label>
                </div>
                <button type="submit" class="btn btn-dark btn-block" (click)="tryLogin(loginForm.value)">로그인</button>
            </form>
            <!-- {{loginStatus}} -->
            <hr>
            <div style="text-align:center; margin:40px 0px;">
                <!-- <div class="form-group">
                    <button type="button" class="btn btn-danger btn-block" (click)="signInWithGoogle()">
                        <i class="fa fa-google" aria-hidden="true"></i>
                        구글로 로그인
                    </button>
                    <br>
                    <button type="button" class="btn btn-danger btn-block" (click)="signInWithFacebook()">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        페이스북으로 로그인
                    </button>
                </div> -->
                <div>
                    아직 바인더스 회원이 아니신가요?
                    <a [routerLink]="['/signup']">회원가입</a>
                </div>
            </div>
        </div>
    </div>
</main>